{
  "env": {
    "browser": true,
    "es2022": true,
    "node": true,
    "jest": true
  },
  "globals": { "JSX": true },
  "settings": {
    "react": { "version": "detect" }
  },
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "react-refresh"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "vite.config.ts",
    "jest.config.ts",
    "jest.setup.ts",
    ".eslintrc",
    "tailwind.config.js",
    "postcss.config.js"
  ]
}
