@charset "UTF-8";

/* Basic configuration of the project */

$font-family: 'Source Code Pro';

$font-weight: (
  'regular': 400,
  'semiBold': 600,
  'extraBold': 800,
);

$font-url: (
  'regular': './assets/fonts/SourceCodePro-Regular.ttf',
  'semiBold': './assets/fonts/SourceCodePro-SemiBold.ttf',
  'extraBold': './assets/fonts/SourceCodePro-ExtraBold.ttf',
);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (3840 - 320)));
  /* Fluid Design 👆🏽: https://bit.ly/fluid-design */
}

.reset *,
.reset *::before,
.reset *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: $font-family, monospace;
}

@each $weight, $url in $font-url {
  @font-face {
    font-weight: map-get($font-weight, $weight);
    font-family: $font-family;
    src: local($font-family), url($url);
  }
}

/* ---- default App temporal styles ---- */
.App {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
  text-align: center;
}

.App > * {
  color: white;
}

.App > *a {
  color: #6d3094;
}

.App > *a:hover {
  color: #c38de3;
}

.App .App-Container {
  max-width: 800px;
}

.App .App-Container h1 {
  position: relative;
  z-index: 1;
  opacity: 0;
  filter: blur(10px);
  transition: 1s ease-in-out;
}

.App > *p {
  max-width: 75%;
  margin: 0 auto;
  opacity: 0;
  filter: blur(10px);
  transition: 3s;
  position: relative;
  z-index: 1;
}

#bg {
  background-color: #040915;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  filter: blur(80px);
  position: absolute;
  inset: 0;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#bg_ {
  background-color: black;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  inset: 0;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  animation-name: op;
  animation-duration: 2000ms;
  z-index: 0;
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes op {
  0% {
    opacity: 1;
    filter: blur(1000px);
  }
  70% {
    opacity: 1;
    filter: blur(80px);
  }
  94% {
    opacity: 0.5;
    background-color: #0f172a;
    filter: blur(100px);
  }
  100% {
    opacity: 0.2;
    background-color: #0f172a;
    filter: blur(180px);
  }
}
